@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Playfair+Display:ital,wght@0,400;1,500&display=swap');


:root {

    --primary-color: #003049;
    --secondary-color: #FDF0D5;
    --accent1-color: #780000;
    --accent2-color: #669BBC;

    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #FDF0D5;
    --nav-link-color: #003049;
    --nav-hover-link-color: #780000;
    --nav-hover-background-color: #669BBC;

}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;
    color: black;
}

 header a {
    text-decoration: none;
    border-style: double;
    padding: 3%;

}
a:hover {
    font-size:x-large;
    color: var(--nav-link-color);
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
    background-color: var(--accent2-color);
    display: block;
    padding: 2%;
}

.hero article img {
    float: right;
    width: 40%;
    height: auto;
}

.hero div {
    position: relative;
}

nav {
    display: block;
    padding: 5%;
}

.sociallinks img {
    width: 20%;
    height: auto;
    display: block;
    float:right;
}
.sociallinks img:hover {
    width: 23%;
    opacity: 100%;
}
.sociallinks img:not(:hover) {
    width: 15%;
    opacity: 50%;
}

section {
    display: block;
    background-color: var(--secondary-color);
}

header {
    display: block;
    background-color: var(--accent2-color);
    padding: 5%;
}

header img {
    float: right;
    width: 15%;
    margin-right: 2rem;
    
}