.callout {
    width: 400px;
	padding: .5em;
    border: 1px solid white;
    margin: 1em;
    background-color: cadetblue;
    color: rgb(255, 255, 255)
}

.callout img {
	float: right;
    margin: 2em;
    border: .3em solid white;
    padding: 1em;
    background-color: black;
    width: 20%;
    height: auto;
}

blockquote {
	margin: 2em;
}

cite {
	display: block;
    border-top: .2em dotted white;
    padding-top: .2em;
    text-align: right;
}