* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: silver;
    padding: 10px;
}

nav a {
    background-color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid blanchedalmond;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}

p {
    padding: 0;
}

body {
    font-size: 2em;
}

main {
    max-width:  840px; 

}
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
    
}
aside h2 {
    position: absolute;
    top: 10px;
    left: 50px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: beige;
    border: 1px solid black;
    color: dodgerblue;
}